version: "3.8"

services:
  db:
    image: postgres:16
    container_name: online_shop
    restart: always
    environment:
      POSTGRES_DB: online_shop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
